/* Tailwind v4 */
@import "tailwindcss";

/* Fill the viewport; remove all default margins/centering */
html,
body,
#root {
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
  min-width: inherit;
}

body {
  display: block !important;
  min-width: 100 !important;
  min-height: 100svh;
  /* or 100vh */
  margin: 0;
  display: flex;
  flex-direction: column;
}

html {
  min-width: 375 !important;
}

/* Design tokens */
:root {
  --iphone-shadow:
    0px 74px 74px 0px rgba(0, 0, 0, 0.25),
    0px 164px 250px 0px rgba(0, 0, 0, 0.15),
    0px -76px 80px 0px rgba(255, 255, 255, 0.1),
    0px -26px 114px 0px rgba(0, 0, 0, 0.1);
  --animate-spin: spin 1s linear infinite;
}

/* Base */
@layer base {
  :root {
    --header-h: 73px;
    --fade: 200px;
    --bg-1: #b9d0ff;
    /* top */
    --bg-2: #a6c6fe;
    /* mid */
    --bg-3: #97b7f2;
    /* bottom */

  }

  /* must include units */

  html {

    background-color: black;
    /* fallback */
  }

  body {
    background: transparent;
  }

  button,
  input,
  select,
  textarea {
    @apply appearance-none bg-transparent border-0 outline-none;
  }
}

.hero-bg {
  background:
    radial-gradient(1200px 600px at 72% -10%,
      rgba(255 255 255 / .55), transparent 60%),
    linear-gradient(to bottom, var(--bg-1) 0%, var(--bg-2) 35%, var(--bg-3) 100%);
}

/* Components */
@layer components {
  .all-\[unset\] {
    all: unset;
  }

}

/* Utilities */
@layer utilities {
  .animate-fade-in {
    animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
  }

  .animate-fade-up {
    animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
  }

  .animate-marquee {
    animation: marquee var(--duration) infinite linear;
  }

  .animate-marquee-vertical {
    animation: marquee-vertical var(--duration) linear infinite;
  }

  .animate-shimmer {
    animation: shimmer 8s infinite;
  }

  .animate-spin {
    animation: var(--animate-spin);
  }
}

/* Keyframes */
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}


@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {

  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
